# See https://help.github.com/ignore-files/ for more about ignoring files.

# production
/install/files
/docker/data

# Arquivos temporarios e de teste
/tmp/
/tests/*.json
/tests/*.html

# Pastas de documentação (não necessárias no servidor)
/docs/
/projeto/
/deploy/
/scripts/*.md
/scripts/*.txt

# Arquivos de desenvolvimento
.DS_Store
.vscode
.idea/
.php_cs.cache
.php-cs-fixer.cache

/vendor/
/application/vendor/

.env.local
.env.development.local
.env.test.local
.env.production.local

!blank/.gitkeep
desktop.ini

application/vendor/
vendor/
.idea/
.php_cs.cache
.php-cs-fixer.cache
application/logs/*
ci_sessions/

uploads
application/.env
assets/userImage
