<FilesMatch "^\.">
    Order allow,deny
    Deny from all
</FilesMatch>

# Headers para permitir geolocalizacao em iframes cross-origin
# https://www.chromium.org/Home/chromium-security/deprecating-permissions-in-cross-origin-iframes/
<IfModule mod_headers.c>
    Header always set Permissions-Policy "geolocation=(self)"
    Header always set Feature-Policy "geolocation *"
</IfModule>

RewriteEngine On
RewriteCond %{HTTP:Authorization} ^(.+)$
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

# Remove index.php from URL
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
